html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}


.main-container, .container{
    margin: 0px;
    width: 100%;
}

.main-container>.row{
    margin: 0px;
}
nav{
    background-color: #52648e;
}

.brand-logo{
    margin-left: 20px;
    font-family: 'Kaushan Script', cursive;
}

.form-heading{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.book-heading{
    margin-left: 20px;
}

.book-tag{
    margin-left: 10px;
}

.book-options{
    display:inline;
}

.secondary-content{
    margin-right: 30px;

}

.book-item, .book-title, .book-author{
    margin-bottom: 0px;
    margin-top:5px;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }