html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#appDate{
color: white;
}

.main-container, .container{
    margin: 0px;
    width: 100%;
}

.main-container>.row{
    margin: 0px;
}
nav{
    background-color: #52648e;
}

input[type="search"] {
    margin-top: 6px;
    height: 50px !important; /* or height of nav */
    border-radius: 3px;
}

.brand-logo{
    margin-left: 20px;
    font-family: 'Kaushan Script', cursive;
}

.form-heading{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.book-heading{
    margin-left: 20px;
}

.book-tag{
    margin-left: 10px;
}

.book-options{
    display:inline;
}

.secondary-content{
    margin-right: 30px;

}

.book-item, .book-title, .book-author{
    margin-bottom: 0px;
    margin-top:5px;
}

.return-book-title, .return-book-author, .return-book-transac-id, .return-book-duedate, .return-book-options{
    margin-top: 0px;
    margin-bottom: 0px;
}



.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }