<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Smart LMS</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Kaushan+Script" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script  th:src="@{/JS/scripts.js}">    </script>
</head>
<body>
<div>
    <nav>
        <div class="nav-wrapper" th:object="${user}">
            <a href="#" class="brand-logo">e-Library</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/book}" th:if="${user.getUserRole() == 'ADMIN'}">Add Books</a></li>
                <li><a th:href="@{/books}">View Books</a></li>
                <li><a class="red" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="row">
            <h5 class="book-heading">Add a Book</h5>
        </div>
        <div class="col m3" >
            <img src="http://placehold.it/250x250" />
        </div>
        <form class="col s9 m9" th:action="@{|/book/update/${book.getBookId()}|}" method="post" th:object="${book}">
            <div class="col s10 m10">
                <div class="row">
                    <div class="input-field col s6 m6">
                        <input id="author" name="author" th:field="*{author}" type="text" class="validate" />
                        <label for="author">Author</label>
                    </div>
                    <div class="input-field col s6 m6">
                        <input id="title" name="title" th:field="*{title}" type="text" class="validate" />
                        <label for="title">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 m6">
                        <input id="callNumber" name="callNumber" th:field="*{callNumber}" type="text" class="validate" />
                        <label for="callNumber">Call Number</label>
                    </div>
                    <div class="input-field col s6 m6">
                        <input id="publisher" name="publisher" th:field="*{publisher}" type="text" class="validate" />
                        <label for="publisher">Publisher</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6">
                        <input id="yearOfPublication" name="yearOfPublication" th:field="*{yearOfPublication}" type="text" class="validate" />
                        <label for="yearOfPublication">Year of Publication</label>
                    </div>
                    <div class="input-field col s6 m6">
                        <input id="locationInLibrary" name="locationInLibrary" th:value="*{locationInLibrary}" type="text" class="validate" />
                        <label for="locationInLibrary">Location In Library</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6">
                        <input id="noOfCopies" name="noOfCopies" th:value="*{noOfCopies}" type="text" class="validate" />
                        <label for="noOfCopies">No of Copies</label>
                    </div>
                    <div class="input-field col s6 m6">
                        <input id="currentStatus" name="currentStatus" th:value="*{currentStatus}" type="text" class="validate" />
                        <label for="currentStatus">Current Status</label>
                    </div>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light red book-tag" type="submit" name="action" value="addkeyword">Tag</button>
                    <div th:each="word, keyStat : *{bookKeywordsList}">
                        <div class="input-field col s3 m3">
                            <input th:field="*{bookKeywordsList[__${keyStat.index}__].bookKeywordId}" type="hidden"/>
                            <input th:field="*{bookKeywordsList[__${keyStat.index}__].keyword}" type="text" class="validate" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 m6">
                        <button class="btn waves-effect waves-light col m4" type="submit" name="action" value="update">update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>