<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>crazySpring</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script  th:src="@{/JS/scripts.js}">    </script>
</head>
<body>
<div>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">CrazySpring</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Users</a></li>
                <li><a href="badges.html">Phones</a></li>
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col s12">
            <h5> User Details </h5>
        </div>
           <form class="col s12" th:action="@{|/phone/${phone.getPhoneId()}|}" method="post" th:object="${phone}">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1 offset-s2">
                        <input id="phoneid" disabled="disabled" type="text" th:field="*{phoneId}"  class="validate" />
                        <input id="hidden" type="hidden" name="id" th:value="${phone.getPhoneId()}"  class="validate" />
                        <label for="userid">User Id</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1 offset-s2">
                        <input id="number" type="text" th:field="*{number}" name="nubmer" class="validate" />
                        <label for="number">Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1 offset-s2">
                        <input id="description" th:field="*{description}" type="text" class="validate" />
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m5 offset-m1 offset-s2">
                        <button class="btn waves-effect waves-light" type="submit" name="action" value="update">Update</button>
                    </div>
                    <div class="input-field col s12 m5 offset-m1 offset-s2">
                        <button class="btn waves-effect waves-light" type="submit" name="action" value="delete">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <input id="hidden2" type="hidden" name="addressid" th:value="${phone.getAddress().getAddressId()}"  class="validate" />
                    <div class="row">
                        <div class="input-field col s6 m5">
                            <input id="street" type="text" th:field="*{address.street}" class="validate" />
                            <label for="street">Street</label>
                        </div>
                        <div class="input-field col s6 m5">
                            <input id="city" type="text" th:field="*{address.city}" class="validate" />
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m5">
                            <input id="state" type="text" th:field="*{address.state}" class="validate" />
                            <label for="state">State</label>
                        </div>
                        <div class="input-field col s6 m5 ">
                            <input id="zip" type="text" th:field="*{address.zip}" class="validate" />
                            <label for="zip">Zip</label>
                        </div>
                    </div>

                    <div class="row">
                        <h4>Users</h4>
                        <div class="col s11 m10" id="phone-list" th:each="user : ${users}" >
                            <div class="row">
                                <div class="input-field col s12 m5" >
                                    <input id="userid" disabled="disabled" th:value="${user.getUserId()}" />
                                </div>
                                <div class="input-field col s12 m5" >
                                    <input id="username" disabled="disabled" th:value="${user.getFirstname()}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
</html>